* {
  font-family: 'Source Code Pro', Courier, monospace;
}

header {
  margin: 2em 0;
}
.header {
  border-bottom: 1px dashed #00000F;
  border-top: 1px dashed #00000F;
  padding: 10px;
}
.logo {
  max-height: 60px;
  float: right;
}
a h1 {
  font-size: 1.3em;
  font-weight: 600;
  color: #00000F;
  margin: 0;
  padding: .75em 0 .1em;
}
h1 a:hover {
  text-decoration: none;
  color: #00000F;
}
h3 {
  color: #789;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  padding: 0 0 .75em;
}

nav a, footer a {
  color: #00000F;
}
.nav {
  border-top: 1px dashed #00000F;
  border-bottom: 1px dashed #00000F;
  border-left: none;
  border-right: none;
}
.nav-pills a:hover, .nav-pills a:active, .nav-pills a:focus, footer a:hover {
  color: #660099;
  background-color: #FFF !important;
}
.navbar-default {
  background-color: white;
}
.navbar-toggle {
  position: absolute;
}
.navbar-toggle .icon-bar {
  background-color: #00000F !important;
}
.navbar-collapse {
  padding: 0;
}

#about, #code-samples, #projects, #contact, #form-messages{
  display: none;
}

a#resume {
  color: #00000F;
  border-bottom: 1px dashed #00000F;
}

a#resume:hover {
  color: #660099;
  text-decoration: none;
  border-bottom: 1px dashed #660099;
}

/*form mess*/
/*.form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}*/

.form-control {
  height: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed #00000F;
  border-radius: 0;
  box-shadow: none;
  margin: .5em 0;
  padding: .75em 1em;
  background-color: #f7f8f9;
}
.btn,
.btn:focus,
.btn-lg,
.btn-group-lg>.btn {
  background-color: #00000F;
  border-radius: none;
  border: none;

}

.btn:hover,
.btn-active {
  background-color: #660099;
}
/*end form mess*/

footer ul {
  border-top: 1px dashed #00000F;
  margin-top: 3em;
  list-style: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  padding: 1em 0.325em;
  font-size: 1.5em;
}