* {
  font-family: 'Source Code Pro', Courier, monospace;
}

header {
  margin: 2em 0;
}

.logo {
  max-height: 60px;
  float: right;
}

.test {
  background-color: #FF0;
}

.content {
  display: block;
}

a h1 {
  font-size: 1.3em;
  font-weight: 600;
  color: #00000F;
  margin: 0;
  padding: .75em 0 .1em;
}

h1 a:hover {
  text-decoration: none;
  color: #00000F;
}

h3 {
  color: #789;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  padding: 0 0 .75em;
}

#about, #code-samples, #projects, #contact {
  display: none;
}

.navbar-default {
  background-color: white;
}

.navbar-toggle {
  position: absolute;
}

.navbar-toggle .icon-bar {
  background-color: #00000F !important;
}

nav a, footer a {
  color: #00000F;
}

.nav {
  border-top: 1px dashed #00000F;
  border-bottom: 1px dashed #00000F;
  border-left: none;
  border-right: none;
}

.nav-pills a:hover, .nav-pills a:active, .nav-pills a:focus, footer a:hover {
  color: #660099;
  background-color: #FFF !important;
}

.well {
  background-color: #FFF;
}

.well {
  border: none;
}

.header {
  border-bottom: 1px dashed #00000F;
  border-top: 1px dashed #00000F;
  padding: 10px;
}

.form-control {
  border: none;
}

footer {
  border-top: 1px dashed #d3d3d3;
  margin-top: 3em;
}

footer>ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer>ul>li {
  padding: 1em 0.325em;
  font-size: 1.5em;
}
